body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #000;
}

h1 {
  color: #800;
}

#wrap {
  margin: 80px auto;
  max-width: 600px;
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

input.name {
  display: block;
  width: 75%;
  margin: 10px auto;
  padding: 4px 8px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: 0;
}

input.name:focus {
  border-color: #800;
  box-shadow: 0 0 5px #f44;
}

input[type="submit"] {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 20px;
}

.vampire-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
